.btn-config {
  background-color: #39c18c;
  border: none;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0px 0px 15px -5px #4f0a99;
  color: #212529;
  cursor: pointer;
  margin: 3px 0;
  min-width: 150px;
  padding: 0.8rem 1rem;
}
.completed {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #000;
}
.container {
  margin: auto;
  width: calc(80% - 50px);
}
#general-configs {
  position: fixed;
  top: 40vh;
  left: -166px;
}
#general-configs-container {
  background-color: #39c18c;
  border-radius: 0 10px 10px 0;
  padding: 1.5rem 1rem 0.5rem 0;
}
#lista-tarefas {
  list-style: none;
}
.secondary-menu-btn {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 8px 2px;
  margin: 2px 0;
  white-space: nowrap;
}
.secondary-menu-container {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #6c757d;
  height: 5px;
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  width: 5px;
}
.secondary-menu-container div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.section-config {
  display: flex;
  flex-direction: column;
}
.selected {
  background-color: #39c18c;
  border-radius: 10px;
}
.task-title {
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 1.2rem 1.6rem;
}
#texto-tarefa,
#subtask_input {
  border: none;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0px 0px 15px -5px #4f0a99;
  font-family: 'Sintony', sans-serif;
  max-height: 43px;
  outline: none;
  padding: 0.8rem 0.5rem;
  width: 166px;
}
#mouse-2-menu {
  display: none;
  position: absolute;
}
#subtask_input {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #6c757d;
  display: none;
  left: 175px;
  position: absolute;
  top: 26px;
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-bar ul a {
  color: #000;
  font-family: 'Sintony', sans-serif;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  color: #212529;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f9fa;
}
h1 {
  font-family: 'Sintony', sans-serif;
  font-size: 2.5rem;
}
header {
  margin-bottom: 2rem;
  padding: 1rem 0;
  text-align: center;
}
header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main article {
  display: flex;
  justify-content: center;
}
