font_dancing = 'Dancing Script', cursive;
font_sintony = 'Sintony', sans-serif;
my_personal_color = #260549;
light_bgc = #F8F9FA;
dark_bgc = #212529;

.btn-config
  background-color: my_personal_color
  border: none
  border-radius: 0 10px 10px 0
  color: light_bgc
  margin: 3px 0
  padding: 0.8rem 1rem

.completed
  text-decoration-line: line-through 
  text-decoration-style: solid 
  text-decoration-color: rgb(0, 0, 0)

.container
  margin: auto
  width: calc(80% - 50px)

#general-configs
  position: fixed
  top: 40vh
  left: 0

.section-config
  display: flex
  flex-direction: column

.selected
  background-color: rgb(128, 128, 128)

.nav-bar
  ul
    display flex
    justify-content: space-around
    list-style: none
    a
      color: black
      font-family: font_sintony
      padding: 0.2rem 0.8rem
      text-decoration: none

*
  box-sizing: border-box
  font-size: 100%
  margin: 0
  padding: 0

body
  background-color: light_bgc

h1
  font-family: font_sintony
  font-size: 2.5rem

header
  margin-bottom: 2rem 
  padding: 1rem 0
  text-align: center
  .container
    align-items: center
    display flex
    justify-content: space-between

main
  height: 800px
