container-mix()
  margin: auto
  width: calc(80% - 80px)

round-border()
  border-style: none
  border-radius: 50%

round-corner()
  border-style: none
  border-radius: 7px

btn-generator(y, x)
  round-corner()
  padding: y x

*
  box-sizing: border-box
  padding: 0
  margin: 0
  
#board-size
  background-color: #39C18C
  padding: 2px 0
  round-corner()
  &:hover
    background-color: #8cffd1
    border: none

.btn
  background-color: #a5a5a5;
  btn-generator(5px, 25px)
  &:hover
    background-color: #a50000

.canvas-article
  container-mix()

.canvas-config
  margin: 2rem 0

#clear-board
  margin-top: 15px

.container
  margin: auto
  text-align: center
  width: calc(80% - 80px)

.color
  round-border()
  display: inline-block
  height: 50px
  width: @height
  &:nth-child(1)
    background-color: black
    
#generate-board
  btn-generator(2px, 15px)
  background-color: #39C18C

.pixel
  border: 1px solid black
  display: inline-block
  min-height: 40px
  min-width: @min-height
  background-color: white

#pixel-board
  container-mix()

.pixel-row
  height: 40px

header
  padding: 1.5rem
  .container
    display: flex

main
  background-color: yellow
  padding-top: 3rem
  .container
    display: flex

