* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
.board-inputs {
  background-color: #39c18c;
  padding: 2px 0;
  padding-left: 10px;
  outline: none;
  border-style: none;
  border-radius: 7px;
  min-width: 200px;
}
.board-inputs:hover {
  background-color: #8cffd1;
  border: none;
}
.board-inputs::placeholder {
  color: #171717;
}
.btn {
  background-color: #a5a5a5;
  border-style: none;
  border-radius: 7px;
  padding: 5px 25px;
}
.btn:hover {
  background-color: #a50000;
}
.board-btn {
  border-style: none;
  border-radius: 7px;
  padding: 2px 15px;
  background-color: #39c18c;
  margin-top: 0.5rem;
}
.canvas-article {
  margin: auto;
  width: calc(80% - 80px);
}
.canvas-config {
  margin: 2rem 0;
}
#clear-board {
  margin-top: 15px;
}
.container {
  margin: auto;
  text-align: center;
  width: calc(80% - 80px);
}
.config-article {
  margin: 0 1rem;
}
.color {
  border-style: none;
  border-radius: 50%;
  border: 1px solid #171717;
  display: inline-block;
  height: 50px;
  margin: 2px;
  width: 50px;
}
.color:nth-child(1) {
  background-color: #000;
}
#color-palette,
.eraser-section {
  background-color: #fff;
  border-style: none;
  border-radius: 7px;
  padding: 2px 10px;
  max-width: 250px;
  padding: 0.5rem;
}
#eraser {
  border-style: none;
  border-radius: 7px;
  height: 50px;
  padding-top: 15px;
  width: 100%;
}
.eraser-active {
  border: 2px solid #39c18c;
  box-shadow: 0px 0px 10px 3px #39c18c;
}
.eraser-section {
  margin-top: 2rem;
}
.pixel {
  border: 1px solid #000;
  display: inline-block;
  background-color: #fff;
}
#pixel-board {
  margin: auto;
  height: 700px;
  width: 700px;
}
#pixel-board :nth-child(1) :nth-last-child(1) {
  border-radius: 0 7px 0 0;
}
#pixel-board :nth-child(1) :nth-child(1) {
  border-radius: 7px 0 0 0;
}
#pixel-board :nth-last-child(1) :nth-last-child(1) {
  border-radius: 0 0 7px 0;
}
#pixel-board :nth-last-child(1) :nth-child(1) {
  border-radius: 0 0 0 7px;
}
.pixel-row {
  display: flex;
}
.selected {
  border: 2px solid #39c18c;
  box-shadow: 0px 0px 10px 3px #39c18c;
}
body {
  background-color: #260049;
}
header {
  background-color: #39c18c;
  padding: 1.5rem;
}
header .container {
  display: flex;
}
h1 {
  font-family: 'Lobster', cursive;
}
main {
  padding-top: 3rem;
}
main .container {
  display: flex;
  align-items: flex-start;
}
